
 @charset "UTF-8";
 @font-face {
     font-family: 'BeonMedium';
     src: url(../fontes/BeonMedium-6d51.otf);
     src: url(../fontes/BeonMedium-7Z34.ttf);
 }

 @font-face {
     font-family: 'Neoncity';
     src: url(../fontes/NeoncityDisplay-MVVLv.otf);
 }

:root {
    --cor1: #02111B;
    --cor2: #FECEE9;
    --cor3: #008DC3;
    --cor4: #39C4BD;
    --cor5: #41393E;

    --cor1mod: #02121d;

    --Neoncity: 'Neoncity';
    --BeonMedium: 'BeonMedium';
  
}

 * {
     padding: 0px;
     margin: 0px;
 }

 

 header {
    /*display: flex;
    justify-content: space-between;*/
    padding: 80px 10px 20px 15px;
    /*background-color: var(--cor1mod);*/
    background: black url('../imagens/planeta.jpg') center left  no-repeat scroll;
    background-size: cover;
    color: black;
    text-align: center;
    box-shadow: 1px 1px 20px 4px black;


 }

 @media screen  and (max-width:670px) {
    header {
        color: white;
    }
}

 header h1 {
    padding-bottom: 30px;
    font-size: 3em;
    text-shadow: 8px 4px 17px black;
    font-family: var(--Neoncity);
    
 }

 .noia {
    
     color: var(--cor4);
     font-family: var(--BeonMedium);
     margin: -5;
 }

 nav a {
    font-family: var(--Neoncity);
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
 }
    
 nav a:hover {
     text-decoration: underline;
     color: var(--cor1);
     background-color: var(--cor4);
     border-radius: 5px;
 }


 

 

 footer {
    background-color: black;
    width: 100%;
    margin: auto;
    

 }

 footer p {
     padding: 10px 0px 10px 0px;
    color: white;
    text-align: center;
 }

 